@model Blog.ViewModels.PostListViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div>
    @* Card *@
    <h3>Latest Blogs</h3>
    @if(Model.Posts != null && Model.Posts.Any())
    {
    <div class="d-flex gap-2 flex-column flex-sm-wrap">
        @foreach (var post in Model.Posts)
        {
                <div class="card mb-3" style="width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src=@post.ImagePath class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@post.Title</h5>
                                <p class="card-text">@post.Subtitle</p>
                                <p class="card-text"><small class="text-body-secondary">@post.PublishedDate</small></p>
                                <p class="card-text"><small class="text-body-secondary">Created by: @post.Author</small></p>
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
    }
    @* End of Card *@

</div>
